.header {
  margin: 0;
  height: 80px;
  background-color: #00ff33;
}
.btnGrp {
  width: 800px;
  height: 150px;
  margin: 0 auto;
  background-color: rgba(67, 135, 118, 0.52);
}

.btnGrp .btn {
  width: 200px;
  height: 150px;
}
